.landing_page_h1{
    color: rgb(12, 12, 12);
    padding-top: 3rem;
    font-family: cursive;
}
.landing_page_p{
    color: rgb(12, 12, 12);
    padding-top: 2rem;
    font-family: cursive;
    font-size: 19px;
}

/* media query start here*/
@media screen and (min-width: 320px) and (max-width: 602px){
    .women_img{
        width: 100% !important;
    }
}